[MESSAGES CONTROL]

disable=
  # Disable because ~ is used in a lot of hail code where it is not an error
  invalid-unary-operand-type,
  # Ignore refactor and convention categories
  R,
  C,
  # Allow TODO and FIXME comments
  fixme,
  # Ignore unnecessary-lambda because it has many false positives from hl.ArrayExpression.map, etc.
  unnecessary-lambda,
  # Warnings present in existing code. These should be fixed and removed from this list.
  cell-var-from-loop,
  dangerous-default-value,
  protected-access,
  raise-missing-from,
  redefined-builtin,
  redefined-outer-name,
  unused-variable,
  unused-wildcard-import
